@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 200vh;
    background-image: url(../img/backround_img.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

nav{
    position: sticky !important;
    top: 0 !important;
    left: 0;
    right: 0;
    z-index: 1;
}

.history{
    border-style: solid;
    padding: 10rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 40rem;
}

.history, .card-body, .cards{
    /*backround*/
    backdrop-filter: blur(5px) saturate(193%);
    -webkit-backdrop-filter: blur(2px) saturate(193%);
    background-color: rgba(17, 25, 40, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.cards{
    padding: 1rem;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-body{
    border-radius: 0;
}