*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bg_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    text-align: center;
    padding: 2rem 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100vh;
}

img{
    width: 100%;
    border-radius: 1rem;
    padding: .5rem;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
